:root{
    --background-image:url("/public/img/cover.jpg");
    --text-opacity:20%;
    --text-secondary:#6d6d6d;
    --icon-background:#212121;
    --icon-color:blue;
}

[data-theme='dark']{
    --background-image:url("/public/img/cover-light.jpg");
    --text-primary:#4f4d4d;
    --text-opacity:8%;
    --text-secondary:#9b9999;
    --icon-background:#c9c5c5;
    --icon-color:#6d0ab0;
}   

.App{
    background: var(--background-image);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
:root{
    --index:calc(1vw + 1vh);
}